.users-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .users-list {
    flex-direction: column;
    align-items: center;
  }
}
